[submodule "Library-Management-Project-Platform"]
	path = platforms
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Platform.git
[submodule "Library-Management-Project-Services"]
	path = services
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Services.git
[submodule "Library-Management-Project-Webapp"]
	path = webapp
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Webapp.git
